.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a7bcff;
    height: 100vh;
    justify-content: center;
}

.formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    gap: 15px;
    align-items: center;
}

.logo {
    color: #5d5b8d;
    font-weight: bold;
    font-size: 30px;
   
}

.title {
    color: #5d5b8d;
    font-weight: bold;
    font-size: 12px;
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 15px;

    input {
        border: none;
        border-bottom: 1px solid #a7bcff;
        border-radius: 10px;
        width: 250px;
        font-size: large;
        padding: 15px;

        &::placeholder {
            color: rgb(175, 175, 175);
        }
    }

    button {
        background-color: #5d5b8d;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 15px;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
    }

    p {
        color: #5d5b8d;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
    }

    label {
        color: #5d5b8d;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        gap: 10px;
        display: flex;
        align-items: center;
    }

    img {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
}

.home {
    background-color: #a7bcff;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;

        .sidebar {
            flex: 1;
            padding: 10px;
            border-right: 1px solid #3e3c61;
            background-color: #3e3c61;

            .navbar {
                display: flex;
                align-items: center;
                background-color: #2f2d52;
                height: 40px;
                padding: 10px;
                border-radius: 5px;
                justify-content: space-between;
                color: #ddddf7;

                .logo {
                    color: white;
                    font-size: 20px;
                }

                .user {
                    display: flex;
                    gap: 10px;

                    img {
                        background-color: #ddddf7;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                .username {
                    font-weight: bold;

                }

                button {
                    background-color: #5d5b8d;
                    color: white;
                    font-size: 12px;
                    border: none;
                    cursor: pointer;
                    border-radius: 10%;
                }

                .search {
                    border-bottom: 1px solid gray;

                    .searchForm {
                        padding: auto;
                    }
                }
            }
        }

        .chat {
            flex: 2;

            .chatInfo {
                display: flex;
                align-items: center;
                background-color: #5d5d8d;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: #ddddf7;

                .chatName {
                    font-weight: bold;
                    font-size: 20px;
                }

                .chatInfoIcons {
                    display: flex;
                    gap: 10px;
                    background-color: #5d5d8d;

                    img {
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                        cursor: pointer;
                    }
                }
            }

            .messages {
                background-color: #ddddf7;
                padding: 10px;
                height: calc(100% - 160px);
                overflow: scroll;
        
                .message {
                  display: flex;
                  gap: 20px;
                  margin-bottom: 20px;
        
                  .messageInfo {
                    display: flex;
                    flex-direction: column;
                    color: gray;
                    font-weight: 300;
        
                    img {
                      width: 40px;
                      height: 40px;
                      border-radius: 50%;
                      object-fit: cover;
                    }
                  }
                  .messageContent {
                    max-width: 80%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
        
                    p {
                      background-color: white;
                      padding: 10px 20px;
                      border-radius: 0px 10px 10px 10px;
                      max-width: max-content;
                    }
        
                    img {
                      width: 50%;
                    }
                  }
        
                  &.owner {
                    flex-direction: row-reverse;
                    
                    .messageContent {
                      align-items: flex-end;
                      p {
                        background-color: #8da4f1;
                        color: white;
                        border-radius: 10px 0px 10px 10px;
                      }
                    }
                  }
                }
              }
            .input {
                height: 50px;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: black;

                input {
                    flex: 1;
                    border-radius: 10px;
                    padding: 10px;
                    margin-right: 10px;
                    /* color: black; */
                    font-size: 18px;
                    background-color: #ddddf7;
                }

                .send {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                        cursor: pointer;
                    }

                    button {
                        background-color: #2f2d52;
                        color: white;
                        border: none;
                        border-radius: 10%;
                        height: 40px;
                        width: 60px;
                        cursor: pointer;
                    }
                }
            }

            .message {
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-bottom: 20px;

                span {
                    font-size: 10px;
                    color: grey;
                    margin-bottom: -10px;
                }

                .messageInfo {
                    display: flex;
                    flex-direction: column;
                    color: gray;
                    font-weight: 300;
        
                    img {
                      width: 40px;
                      height: 40px;
                      border-radius: 50%;
                      object-fit: cover;
                    }
                }

                &.owner {
                    flex-direction: row-reverse;

                    .messageContent {
                        align-items: flex-end;
                        p {
                            margin-top: 10px;
                            margin-right: -10px;
                            background-color: #8da4f1;
                            color: white;
                            border-radius: 10px 0px 10px 10px;
                            max-width: max-content;
                        }
                        img{
                            border-radius: 10px 10px 0px 10px;
                            margin-bottom: 10px;
                        }
                    }

                    img {
                        margin-top:20px;

                    }
                   

                }

                .messageContent {
                    max-width: 80%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
        
                    p {
                      background-color: white;
                      padding: 10px 20px;
                      border-radius: 0px 10px 10px 10px;
                      max-width: max-content;
                      margin-top: -30px;
                    }
        
                    img {
                      width: 50%;
                    }

                }

                .messageInfo {
                    display: flex;
                    flex-direction: column;
                    color: gray;
                    font-weight: 300;
                    margin-bottom: -10px;
                    margin-right: 10px;
                }
            }
        }
    }
}

input {
    background-color: transparent;
    font-weight: bold;
    height: 40px;
    width: 100%;
    border: none;
    /* color: white; */
    outline: none;
    border-radius: 5px;

    /* &::placeholder {
        color: white;
    }

    &:focus {
        border: none;
        outline: none;
    } */

    /* &:hover {
        border: none;
        outline: none;
        background-color: #2f2d52;
    } */
}

.userChat {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: white;

    &:hover {
        background-color: #2f2d52;
    }

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    .userChatInfo {
        span {
            font-size: 18px;
            font-weight: bold;
        }

        p {
            font-size: 14px;
            color: lightgray;
        }
    }
}